<title>{{title}}</title>
{{!-- browse button --}}
    <div class="container mt-5">
        <button id="backBtn" class="btn btn-outline-primary my-2 my-sm-0">Back</button>
    </div>


<div class="row">
  
        
        {{#each data}} {{> userInfo createdAt=createdAt users=users price=price languages=languages id=id codeDescription=codeDescription keywords=keywords codesnip=codesnip}}{{/each}}
        

</div>
