<title>{{title}}</title>
<div class="container">
    <div class="row mt-5">
        <button id="backBtn" class="btn btn-outline-primary my-2 my-sm-0">Back</button>
        <form class="form-inline ml-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="selectedKeyword">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="searchSubmit">Search</button>
        </form>
        <span id="rotate-btn"></span>
    </div>
</div>

{{!-- handlebars code area --}}
<div class="row">
    {{#each data}} {{> userInfo index=@index createdAt=createdAt users=users difficulty=difficulty languages=languages id=id
    codeDescription=codeDescription keywords=keywords codesnip=codesnip}}{{/each}}
</div>