
{{title}}

<div class="row col-10">
  
        
        {{#each data}} {{> userInfo price=price languages=languages id=id codeDescription=codeDescription keywords=keywords codesnip=codesnip}}{{/each}}
        

</div>