
{{title}}

<div class="row">
  
        
        {{#each data}} {{> userInfo createdAt=createdAt price=price languages=languages id=id codeDescription=codeDescription keywords=keywords codesnip=codesnip}}{{/each}}
        

</div>
