{{!-- modal post --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add your code here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username" class="col-form-label">User Name</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="codeDescription" class="col-form-label">Description</label>
                        <input type="text" class="form-control" id="codeDescription">
                    </div>
                    <div class="form-group">
                        <label for="language" class="col-form-label">Language</label>
                        <select id="language" class="custom-select custom-select-md mb-3 form-control">
                            <option selected>Open this select menu</option>
                            <option value="html">Html</option>
                            <option value="css">CSS</option>
                            <option value="javascript">Javascript</option>
                            <option value="json">JSON</option>
                            <option value="sql">SQL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-form-label">Keywords</label>
                        <input type="text" class="form-control" id="keywords">
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label">Price</label>
                        <input type="text" class="form-control" id="price">
                    </div>
                    <div class="form-group">
                        <label for="codesnip" class="col-form-label">Code</label>
                        <textarea class="form-control" id="codesnip"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="upload" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</div>
{{!-- modal options --}}
<div id="exampleModal"class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>