{{!-- button area --}}

<body>
    <div class="row m-5">
        {{!-- search bar and button --}}
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="selectedKeyword">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="searchSubmit">Search</button>
        </form>
        {{!-- modal button --}}
        <div class="justify-content-center ml-2">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">Post Code</button>
        </div>
        {{!-- browse button --}}
        <div class="justify-content-center ml-2">
            <button id="browseBtn" class="btn btn-outline-primary my-2 my-sm-0">Browse</button>
        </div>
        {{!-- options button --}}
        <div class="justify-content-center ml-2">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg">About</button>
        </div>
        <span id="rotate-btn"></span>
    </div>
    <span id="search-err" class="ml-5"></span>
    {{!-- modal post --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xctract your code </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <span id="error"></span>
                        <div class="form-group">
                            <label for="username" class="col-form-label">User name</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter user name here"
                                name="fname" max="20">
                        </div>
                        <div class="form-group">
                            <label for="codeDescription" class="col-form-label">Describe your code</label>
                            <input type="text" class="form-control" id="codeDescription" placeholder="Enter description here"
                                name="fname" max="20">
                        </div>
                        <div class="form-group">
                            <label for="language" class="col-form-label">Choose your language</label>
                            <select id="language" class="custom-select custom-select-md mb-3 form-control">
                                <option value="javascript">Javascript</option>
                                <option value="html">Html</option>
                                <option value="css">CSS</option>
                                <option value="json">JSON</option>
                                <option value="sql">SQL</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="keywords" class="col-form-label">Enter #keywords about your code</label>
                            <input type="text" class="form-control" id="keywords" placeholder="ex. #front-end #validate #form" name="fname"
                                max="20">
                        </div>
                        <div class="form-group">
                            <label for="difficulty" class="col-form-label">Choose your difficulty</label>
                            <select id="difficulty" class="custom-select custom-select-md mb-3 form-control">
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Advanced">Advanced</option>
                            </select>
                        <div class="form-group outline">
                            <label for="codesnip" class="col-form-label"> Copy and paste your code here</label>
                            <textarea class="form-control " id="codesnip"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="successMsg"></span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="upload" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- modal options --}}
    <div id="exampleModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container colorshay fontsize titlealign">
                    <h1>What is Xtract app?</h1>
                    <hr>
                    <p>The Xtract app allows you to upload your unused code, have it appraised, and effectively
                        sell
                        that code to Xtract or to other users.</p>
                    <p>You will also be able to search the database for Xtract ed code
                        and
                        purchase snips from other users.</p>
                </div>
                <!--qoute-->
                <div class="container">

                    <h1 class="mb-0 titlealign">How to use</h1>
                    <br>
                    <img src="/images/search.jpg" alt="search" class="shayimg">
                    <br>
                    <h1 class="titlealign">Post & Sell your code !</h1>
                    <img src="/images/post.jpg" alt="post" class="shayimg">
                    <br>
                    <h1 class="titlealign">BROWSE any time!</h1>
                    <img src="images/browse.jpg" alt="browse" class="shayimg">

                </div>
                <!--end of qoute-->
                <!--Cards-->
                <div class="container cardcolor">
                    <h1 class="titlealign colorshay">Our Team</h1>
                    <div class="card-deck">
                        <!--card 1-->
                        <div class="card">
                            <img class="card-img-top" src="/images/Sean.jpg" alt="Sean">
                            <div class="card-body">
                                <h5 class="card-title">Sean.B</h5>
                                <p class="card-text">Project Manager</p>
                            </div>
                        </div>
                        <!--card 2-->
                        <div class="card">
                            <img class="card-img-top" src="/images/profile.png" alt="profile pic">
                            <div class="card-body">
                                <h5 class="card-title">Aime.U</h5>
                                <p class="card-text">Back-end dev</p>
                            </div>
                        </div>
                        <!--card 3-->
                        <div class="card">
                            <img class="card-img-top" src="/images/Matthew1.jpg" alt="Matthew">
                            <div class="card-body">
                                <h5 class="card-title">Matthew.P</h5>
                                <p class="card-text">Back-end dev</p>
                            </div>
                        </div>
                        <!--card 4-->
                        <div class="card">
                            <img class="card-img-top" src="/images/shay.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Shay.H</h5>
                                <p class="card-text">UI / UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of cards-->

            </div>
        </div>
    </div>