<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>i am trying to create a branch to the master repo</p>
    {{{body}}}
  </body>
</html>
