<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" media="screen" href="/codemirror/codemirror.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/codemirror/3024-night.css" />    
    <script src="/codemirror/codemirror.js"></script>
    <script src="/codemirror/javascript.js"></script>
    <script src="/codemirror/insertmirror.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
