body {
  background-image: url(../images/xtract.jpg);
  background-size: cover;
}

.modal-content {
  background-color: black;
  color: blue;
  border-style: solid;
  border-color: blue;
  border-radius: 3px;
}

.form-control {
  background-color: black;
  color: blue;
  }