body {
  background-image: url(../images/xtract2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.modal-content {
  background-color: black;
  background-image: url(../images/xtcover.png);
  
  color: blue;
  border-style: solid;
  border-color: blue;
  border-radius: 3px;
}

.form-control {
  background-color: black;
  color: blue;
  }

.titlealign{
  text-align: center;
}

.colorshay{

  color: white;

}