body {
  background-image: url(../images/xtract2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* modal css */
.modal-content {
  background-color: black;
  background-image: url(../images/xtcover.png);
  color: rgb(255, 255, 255);
  border-style: solid;
  border-color: blue;
  border-radius: 3px;
}

.form-control {
  background-color: black;
  color: rgb(255, 255, 255);
  }

.line-hgt {
  line-height: 90%;
}

.titlealign {
  text-align: center;
}

.colorshay{
  color: white;
}

.outline {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
  border-width: thin;
}
/* error for form fields */
#error {
  color: red;
}

.success {
  background-color: green;
  transition: background-color 1s;
}
/* loader css code */
.loader {
  border: 10px solid black;
  border-radius: 5%;
  border-top: 10px solid blue;
  border-bottom: 10px solid blue;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* search barr error css */
#search-err {
  color: red;
  transition: color 2s;
}
